
body {
    background-image: linear-gradient(to bottom, #000000, #000046);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 1%;
}

span{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4px;
    height: 4px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1), 0 0 0 8px rgba(255, 255, 255, 0.1), 0 0 20px rgba(255, 255, 255, 1)  ;
    animation:  animate 10s linear infinite;
}

    span::before{
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 300px;
        height: 1px;
        background: linear-gradient(90deg, #fff, transparent);
    }

    @keyframes animate {
        0% {
            transform: rotate(315deg) translateX(0);
            opacity: 1;
        }

        70% {
            opacity: 1;
        }

        100%{
            transform: rotate(315deg) translateX(-1500px);
            opacity: 0;
        }
    }

    span:nth-child(1) {
        top: 0;
        right: 0;
        left:initial;
        animation-delay: 0s ;
        animation-duration: 3s;
    }

    span:nth-child(2) {
        top: 0;
        right: 80px;
        left:initial;
        animation-delay:1.2s;
        animation-duration: 7s;
    }

    span:nth-child(3) {
        top: 80px;
        right: 0px;
        left:initial;
        animation-delay:1.4s ;
        animation-duration: 8s;
    }

    span:nth-child(4) {
        top: 0;
        right: 180px;
        left:initial;
        animation-delay:1.6s;
        animation-duration: 10.5s;
    }

    span:nth-child(5) {
        top: 0;
        right: 400px;
        left:initial;
        animation-delay:1.8s;
        animation-duration: 2.5s;
    }

    span:nth-child(6) {
        top: 0;
        right: 600px;
        left:initial;
        animation-delay:5s ;
        animation-duration: 3s;
    }

    span:nth-child(7) {
        top: 300px;
        right: 0px;
        left:initial;
        animation-delay:1s ;
        animation-duration: 4.75s;
    }

    span:nth-child(8){
        top: 0px;
        right: 700px;
        left:initial;
        animation-delay:7.4s ;
        animation-duration: 5.25s;
    }

    span:nth-child(9){
        top: 0px;
        right: 1000px;
        left:initial;
        animation-delay:8.75s ;
        animation-duration: 3.25s;
    }

    span:nth-child(10){
        top: 0px;
        right: 1000px;
        left:initial;
        animation-delay:9.75s ;
        animation-duration: 2.25s;
    }

    content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

        img {
            max-width: 250px;
            border-radius: 50%;
            border: #fff .35rem solid;
            animation: float 6s ease-in-out infinite;
            margin: 2rem;
        }

            @keyframes float {
                0% {
                    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
                    transform: translatey(0px);
                }
                50% {
                    box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
                    transform: translatey(-20px);
                }
                100% {
                    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
                    transform: translatey(0px);
                }
            }

        .intro {
            margin: .5rem;
            text-align: center;
        }
        
            h1, h2 {
                margin: 0;
                color: #fff;
                font-family: 'Righteous', cursive, 'Times New Roman', Times, serif;
                text-shadow: 5px 5px 7px #000046 ;
            }

        .links {
            margin: 1rem;
            padding: 1rem;
            width: 12rem;
            height: 4rem;
            opacity: 40%;
            transition: transform 450ms;
        }

            .links:hover {
                opacity: 100%;
                transform: translateY(-10px) translateX(-5px);
            }

            .links a {
                text-decoration: none;
                font-size: 1rem;
                color: black;
            }

    /* smartphones, iPhone, portrait 480x320 phones */ 
    @media (max-width:320px)  { 

    }

    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
    @media (max-width:481px)  { 

    }

    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
    @media (max-width:641px)  {

     }

    
    
    
    