* {
    font-family: 'Lora', serif;
}

body {
    background-image: linear-gradient(to bottom, #000046, #1cb5e0);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

    content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

        img {
            max-width: 20%;
            border-radius: 50%;
            border: #fff .35rem solid;
            animation: float 6s ease-in-out infinite;
            margin: 2rem;
        }

            @keyframes float {
                0% {
                    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
                    transform: translatey(0px);
                }
                50% {
                    box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
                    transform: translatey(-20px);
                }
                100% {
                    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
                    transform: translatey(0px);
                }
            }

        .intro {
            margin: .5rem;
            text-align: center;
        }
        
            h1, h2 {
                margin: 0;
                color: #fff;
                text-shadow: 5px 5px 7px #000046 ;
            }

        .links {
            margin: 1rem;
            padding: 1rem;
            width: 7rem;
        }

    /* smartphones, iPhone, portrait 480x320 phones */ 
    @media (max-width:320px)  { 
        img {
            max-width: 50%;
        }
    }

    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
    @media (max-width:481px)  { 
        img {
            max-width: 50%;
        }
    }

    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
    @media (max-width:641px)  {
        img {
            max-width: 28%;
        }
     }